@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

body {
    background-color: #212121;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    width: 700px;
    height: 300px;
    background-color: #171717;
    border-radius: 20px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white; 
}
h1{
    margin: 0;
    padding: 0;
    font-family: "DM Sans", sans-serif;
    font-size: 45px;
}
.relogio{
    margin: 0;
    padding: 10px;
    font-family: "DM Sans", sans-serif;
    font-size: 80px;
}
button {
    font-family: "DM Sans", sans-serif;
    padding: 10px 50px 10px 50px;
    border-radius: 5px;
}
button:hover{
    background-color: #171717;
    border: 1px solid #fff;
    color: #fff;
}
button.active { 
    background-color: #171717;
    border: 1px solid #fff;
    color: #fff;
}
.pausado { 
    color: red;
}


@media (max-width: 600px) {
    .container {
        width: 80%; /* Ajuste a largura para telas menores */
        max-width: none; /* Remove o limite máximo de largura */
        padding: 15px; /* Ajusta o padding para telas menores */
    }
    h1 {
        font-size: 35px;
    }
    .relogio { 
        font-size: 70px;
    }
    button {
        padding: 10px 30px 10px 30px;
    }
}